-# encoding: utf-8
= form_for @keyword, html: { class: 'form-horizontal' }  do |f|
  - if @keyword.errors.any?
    #error_explanation
      %h2= "#{pluralize(@keyword.errors.count, "error")} prohibited this keyword from being saved:"
      %ul
        - @keyword.errors.full_messages.each do |msg|
          %li= msg

  = f.label :keyword
  = f.text_field :keyword, placeholder: '例: 沖縄'
  = f.submit 'Save' , class: 'btn btn-primary'
